# Ambiente Virtual do Python
venv/
__pycache__/
*.pyc

# Arquivos de Sessão e Banco de Dados
*.session
*.session-journal
*.db
*.db-journal

# Arquivos de Log
*.log

# Arquivos de Segredos e Credenciais
.env
credentials.json
temp_credentials.json

# Pasta de configuração de Editores de Código
.vscode/