# Ambiente Virtual do Python
venv/

# Arquivos de Cache e compilados do Python
__pycache__/
*.pyc

# Arquivos de Sessão e Banco de Dados
*.session
*.session-journal
*.db

# Arquivos de Log
*.log

# Arquivos de Segredos e Credenciais
.env
credentials.json

# Pasta de configuração de Editores de Código
.vscode/